<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">List of Users</h1>

      <a class="btn btn-primary mb-3" href="/users/sync">Sync Azure AD User</a>

      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td style="white-space: nowrap">
              <a class="btn btn-primary btn-sm"
                 th:href="@{/users/edit (id=${user.userId})}">Edit</a>
              <a class="btn btn-danger btn-sm"
                 th:href="@{/users/delete (id=${user.userId})}"
                 onclick="return confirm('Are you sure?')">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
