<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admins</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
    <body>
        <div class="container mt-5">
        <h1 class="mb-4">List of Admins</h1>
        <a class="btn btn-secondary mb-3" href="/" role="button">Back to Home</a><br>
        <a class="btn btn-primary mb-3" href="/admins/create">Add Admin</a>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>User ID</th>
                <th>Actions</th>
            </tr>
            </thead>
                <tbody class="table-group-divider">
                <tr th:each="admin : ${admins}">
                <td th:text="${admin.adminId}"></td>
                <td th:text="${admin.username}"></td>
                <td th:text="${admin.role}"></td>
                <td th:text="${admin.userId.userId}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/admins/edit(adminId=${admin.adminId})}">Edit</a>
                    <a class="btn btn-sm btn-danger"
                    th:href="@{/admins/delete(id=${admin.adminId})}"
                    onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>
