<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payments</title>
</head>
<body>
    <h1>Payments</h1>
    <a class="btn btn-secondary mb-3" href="/" role="button">Back to Home</a><br>
    <a href="/payments/create">Add New Payment</a>

    <table>
        <tr>
            <th>Payment ID</th>
            <th>User</th>
            <th>Event</th>
            <th>Merchandise</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Payment Date</th>
            <th>Actions</th>
        </tr>
        <tr th:each="payment : ${payments}">
            <td th:text="${payment.paymentId}"></td>
            <td th:text="${payment.user.username}"></td>
            <td th:text="${payment.event != null ? payment.event.title : 'N/A'}"></td>
            <td th:text="${payment.merchandise != null ? payment.merchandise.name : 'N/A'}"></td>
            <td th:text="${payment.amount}"></td>
            <td th:text="${payment.status}"></td>
            <td th:text="${#temporals.format(payment.paymentDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <a th:href="@{/payments/edit(paymentId=${payment.paymentId})}">Edit</a>
                |
                <a th:href="@{/payments/delete(id=${payment.paymentId})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>